@model List<LoyaltyManagement.ViewModels.UrunViewModel>

@{
    ViewData["Title"] = "Home Page";

}
@{
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="product-section mt-150 mb-150" style="margin-top:30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Alışverişe</span> Başla</h3>
                    <p>Çubuklardan ve Kapaklardan çıkan kodları okutun, alışverişlerinizde kullanacağınız binlerce hediye puan kazanın !</p> <br />
                    <h2>Çok Satan Ürünler</h2>
                </div>

            </div>
        </div>

        <div class="row">
            @foreach (var urun in Model)
            {
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a asp-action="UrunDetay" asp-controller="Urun" asp-route-urunid="@urun.UrunId"><img src="@urun.UrunFotograflari[0].FotografAdres" alt=""></a>
                        </div>
                        <h3 id="coksatanurunadi">@urun.UrunAdi</h3>
                        <h4>@urun.KategoriAdi / @urun.MarkaAdi</h4>
                        <p class="product-price"><span>Fiyat</span> @urun.UrunFiyati.ToString("N") ₺ </p>
                        <a href="#" class="cart-btn UrunLink" data_id="@urun.UrunId"><i class="fas fa-shopping-cart" aria-hidden="true"></i>Sepete Ekle</a>
                    </div>
                </div>
            }
        </div>
        <div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
       
        $(function () {
            $(".UrunLink").click(function () {
                var add = $(this).attr("data_id");
                if (add != '') {
                    $.post("/Siparis/SepeteEkle", { "urunid": add },
                        function (data) {
                            location.reload();
                        });
                }
            });
        });

        $(document).ready(function () {
            // Maksimum karakter sayısı
            var maxLength = 6;

            // Input alanının değer değiştikçe kontrol edilmesi
            $(".textInput").on("input", function () {
                var inputValue = $(this).val();

                // Maksimum karakter sınırını aşan kısmı kırp
                if (inputValue.length > maxLength) {
                    $(this).val(inputValue.slice(0, maxLength));
                }
            });
        });
    </script>
    <style>
        #coksatanurunadi {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    </style>
